<nav id="navbar" class="push better-nav fixed-top">
  <div class="container">
    <div class="head ">
      <a href="/" class="brand">
       
























        
        <div class="logo text-center" style="text-align: center; padding-left: 350px; margin-top: 20px;" >
          <li class="home " style="font-weight: 505; font-size: 25px">aawwwards</li>
        </div>
       
        <div class="title" style="font-size:38px;">
          <h3><b></b></h3>
        </div>
      </a>
    </div>
    <div class="body">
      <ul>
        <li class="home" style="font-weight: 505; font-size: 15px"><a href="/">Home</a></li>
        <li class="blog  dropdown"><a style="font-weight: 505; font-size: 15px" href="#">Profile</a>
          <span class="selector"></span>
          <ul style="font-size: 15px">
            <li><a href="#">My profile</a></li>
            <li><a href="#">Change password</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
        <li class="page" style="font-weight: 505; font-size: 15px"><a href="#">Post</a></li>
        <li class="more dropdown" id="hov"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
          <span class="selector"></span>
          <ul>
            <li><a href="">search by project title</a></li>
            <li class="search clearfix">
              <form action="#" method="POST" enctype="multipart/form-data">
               
                <input type="text" name="search" placeholder="Search" />
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
              <!-- {% for message in messages%}
                      <p>{{message}}</p>
                    {% endfor %} -->
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="toggle">
      <a href="#navbar-slide">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</nav>
<div id="underlay" class="better-nav-mobile-underlay"></div>
<nav id="navbar-slide" class="better-nav-pills"></nav>