<div style=" margin-top: 100px;background-color: rgb(235, 232, 232) !important; ">
    <div class="container" id='prof'>
        <h2 class="text-center" style="margin-bottom: 10px;font-size: 30px;"> profile</h2>
        <div class="card" style="background-color:white">
            <div class="row">

                <div class="col-md-10" style="margin-left: 20px;margin-top:30px;font-size: 15px;">
                    <img src="#" alt="profile" style="width: 350px; height: 350px; border-radius: 50%">
                    <p><b>Name: </b><i></i></p>
                    <p><b>Bio: </b><i class="text-center"></i></p>
                    <p><b>Lastly updated on </b><i></i></p>
                    <a id="update" class="btn" href="#"
                        style="float: right;font-size: 20px; background-color: black;color: white;"><b>Update
                            profile</b> </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <div class="mypics" style="margin-top: 20px">
            <h2 class="text-center" style="margin-bottom: 10px">~Your timeline~</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card" style="height: 400px; width: 350px; background-color: whitesmoke;">
                        <h3 class="text-center">Title</h3>
                        <img src="#" alt="title" class="img-responsive" style="width:100%;height:100%">
                        <div class="details" style="font-size: 17px;text-align: center;">
                            <p><i>Posted by </i><b></b> <br>
                                <i>on </i><b></b>
                            </p>
                            <p><a href="" class="btn" style="font-size: 14px;">Live link to the
                                    site</a></p>
                        </div>
                        <a href="/review/project/"
                            style="margin-left:70%; font-size: 20px; background-color: teal;height: 35px; width: 90px;"
                            class="btn">more...</a>
                    </div>
                </div>

            </div>
        </div>


    </div>